# Analysis of player salaries and their value

## Goal

- Understand trends of any league wide biases towards particular positions
- Try to tease out the difference between salary and value

In [1]:
import pandas as pd
from ottoneu import data

In [5]:
roster = data.roster_data(366)

roster.Salary = roster.Salary.str.replace(',','').str.replace('$','').astype('float')

In [2]:
player_value = data.player_values("1QhcGfaDOOTNHI84uSE_zZVSw0isQusg3eOc4MntB_bE", "4x4")

player_value.dropna(axis=1, how="all", inplace=True)

player_value.rename(columns={"$":"value"}, inplace=True)

player_value.value = player_value.value.str.replace(',','').str.replace('$','').astype('float')

player_value.dropna(axis=0,how="any", inplace=True)

player_value.otto = player_value.otto.astype("int")

In [3]:
player_value.head()

    otto Pos
0  14294  SP
1   6305  OF
2  23717  OF
3  18116  SP
4  23814  SP

roster.dtypes

roster.head()

player_value.dtypes

In [6]:
roster.merge(player_value, how="inner", left_on="ottoneu ID", right_on="otto", validate="1:m")

,TeamID,Team Name,ottoneu ID,FG MajorLeagueID,FG MinorLeagueID,Name,MLB Team,Position(s),Salary,otto,Pos
0,2588,Otto-da-fé,33600,19755.0,NaN,Shohei Ohtani,LAA,Util/SP,44.0,33600,UTIL
1,2588,Otto-da-fé,33600,19755.0,NaN,Shohei Ohtani,LAA,Util/SP,44.0,33600,SP
2,2588,Otto-da-fé,18116,13125.0,sa454389,Gerrit Cole,NYY,SP,42.0,18116,SP
3,2588,Otto-da-fé,13117,12161.0,sa550735,Xander Bogaerts,BOS,SS,33.0,13117,SS
4,2588,Otto-da-fé,18188,14128.0,sa657856,Joey Gallo,NYY,OF,23.0,18188,OF
...,...,...,...,...,...,...,...,...,...,...,...
262,3063,Bobby's Cox,18424,12859.0,sa577015,James McCann,NYM,C/1B,5.0,18424,C
263,3063,Bobby's Cox,9335,9132.0,sa455169,Nathan Eovaldi,BOS,SP,5.0,9335,SP
264,3063,Bobby's Cox,6320,10243.0,sa500734,Randal Grichuk,TOR,OF,3.0,6320,OF
265,3063,Bobby's Cox,8583,5827.0,sa455617,Wilmer Flores,SFG,1B/2B/3B,3.0,8583,2B
266,3063,Bobby's Cox,18257,15873.0,sa709610,Sean Manaea,OAK,SP,3.0,18257,SP